*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'poppins';
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #214180, #0dcc6c);
    padding: 10px;
}

.todoapp{
    width: 100%;
    background: #fff;
    max-width: 540px;
    margin: 100px auto;
    padding: 40px 30px 70px ;
    border-radius:15px ;
}