*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #214180, #0dcc6c);
    padding: 10px;
}